
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Hamburg DIA Club</title>
</head>
<body>
    <div> 
        <form method="get" action="@Url.Action("RedirectToAdminPage", "Default")">
            <input type="submit" value="go to admin page" />
        </form>
    </div>
</body>
</html>
